# Database Connection
# Choose ONE of the following options:

# Option 1: Local PostgreSQL
DATABASE_URL=postgresql://jvcbyte:postgres@localhost:5432/gansytems

# Option 2: Neon Cloud PostgreSQL
PRO_DATABASE_URL=postgresql://neondb_owner:npg_u4zpxfDWc5QG@ep-ancient-heart-a9fcjhse-pooler.gwc.azure.neon.tech/neondb?sslmode=require&channel_binding=require

# MQTT broker URL (HiveMQ Cloud or self-hosted Mosquitto)
MQTT_BROKER_URL=mqtts://64d1bd789f69471fbe54baab0380d8d6.s1.eu.hivemq.cloud:8883
MQTT_USERNAME=gansys
MQTT_PASSWORD=GanSys@2026

NODE_ENV="development"
